h1, h2, h3, h4 {
  color: #252525;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}

img {
  max-width: 100%;
}
p,
ul, ol {
  margin: 0;
}
ul, ol {
  padding: 0 0 0 16px;
}
td {
  color: #565656;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
a {
  text-decoration: underline;
  &:hover {
    text-decoration: none !important;
  }
}
hr {
  border-width: 0;
  background: #C0C0C0;
  color: #C0C0C0;
  height: 1px;
  margin: 0;
}


.email-container {
  background-color: #ffffff;
  color: #565656;
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  font-size: 16px;
  line-height: 24px;
}

.content-container {
  background-color: #E7E7E7;
  margin: 0 auto 0 auto;
  max-width: 590px;
  padding: 16px;
  > table {
    margin: 0 auto 0 auto;
    max-width: 590px;
  }
}

.header {
  background: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 48px;
  text-align: center;
}

.logo-text {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content-wrapper {
  background: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0 48px 52px;
}

td:has(> h1) {
  padding-bottom: 16px;
}
td:has(> h2),
h1 {
  font-size: 34px;
  font-weight: normal;
  letter-spacing: -0.34px;
  line-height: 38.25px;
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}
p {
  padding-bottom: 1em;
}

td:has(> h2) {
  padding-bottom: 8px;
}
td:has(> h2),
h2 {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.34px;
  line-height: 38.25px;
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}

code {
  background: #eee;
  font-size: 15px;
  padding: 0 4px;
}

td.hr {
  line-height: 1px;
  padding: 16px 0 28px 0;
}

td:has(> .button) {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 15px;
}
td:has(> .button.small) {
  font-size: 14px;
  line-height: 14px;
}
.button {
  background-color: #ffd82b;
  border: 1px solid #E2B61E;

  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.04),
              0 5px 10px 0 rgba(0, 0, 0, 0.08);
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 9px 24px 10px 24px;
  text-align: center;
  transition: background-color .2s ease;
  vertical-align: middle;
  will-change: background-color;
  &:hover {
    background-color: #FFD957 !important;
  }
}
